<br />
<br />
<br />
<br />
<br />
<br />

<div class="row">
  <div class="col-sm-2 sidebar">
    <li> #item </li>
    <li> #item </li>
    <li> #item </li>
    <li> #item </li>
    <li> #item </li>
    <li> #item </li>
    <li> #item </li>
    <li> #item </li>
    <li> #item </li>
    <li> #item </li>
    <li> #item </li>
    <li> #item </li>
    <li> #item </li>
  </div>

  <div class="col-sm-8">
  <div class="container">
<div class="col-md-offset-3">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Purchased the</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Product#1</td>
      <td>8.12€</td>
      <td>11/12/2030 : 11:30 pm</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Product#2</td>
      <td>6.02€</td>
      <td>11/12/2030 : 15:03 pm</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Product#3</td>
      <td>11/12/2030 : 10:50 pm</td>
    </tr>
  </tbody>
</table>
</div>
</div>
  </div>

  <div class="col-sm-2 sidebar">
  <li> #item </li>
  <li> #item </li>
  <li> #item </li>
  <li> #item </li>
  <li> #item </li>
  <li> #item </li>
  <li> #item </li>
  <li> #item </li>
  <li> #item </li>
  <li> #item </li>
  <li> #item </li>
  <li> #item </li>
  <li> #item </li>
  </div>


</div>