<%= new_rand = rand(1..100) %>


<div class="card-container">
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://picsum.photos/200/300?random=11" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Product#1</h5>
          <p class="card-text">Some quick example text to build on the Product#1 and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://picsum.photos/200/300?random=12" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Product#2</h5>
          <p class="card-text">Some quick example text to build on the Product#2 and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://picsum.photos/200/300?random=13" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Product#3</h5>
          <p class="card-text">Some quick example text to build on the Product#3 and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://picsum.photos/200/300?random=14" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Product#4</h5>
          <p class="card-text">Some quick example text to build on the Product#4 and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://picsum.photos/200/300?random=15" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Product#5</h5>
          <p class="card-text">Some quick example text to build on the Product#5 and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>